@mixin display-flex {
    display: flex;
}

@mixin btn-style {
    background-color: none !important;
    border:2px solid #007B82 !important;
    margin: auto;
}

@mixin border-radius {
    border-radius: 50% !important;
    margin: 0 0 0 10px;
}

@mixin justify-between{
    justify-content: space-between;
}

@mixin block-center{
    margin: auto;
    background-color:#C5C6C7 !important;
}

@mixin list{
    border-radius: 20px;
    margin: 10px;
    background-color:#4A4A4A !important;
    color: #A9CCE3 !important;
}

@mixin cardStyle{
    border-radius: 30px!important   ;
    border:2px solid #007B82 !important;
}
@mixin textStyle{
    color: #007B82!important;
    font-size: 14pt;
}